<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="style.css">
</head>
<body class="d-flex justify-content-center">
    <nav class="navbar text-white navbar-expand-sm fixed-top" style="background-color: steelblue;">
        <a class="navbar-brand" href="/">Shopping Inventory</a>
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/add" class="nav-link">Add Item</a>
            </li>
        </ul>
    </nav>
    <form class="mt-5 pt-5" style="width: 30% !important;" action="/add" method="POST">
        <input type="number" id="id" name="id" required placeholder="Enter id"/><br>
        <input type="text" id="item" name="item"required placeholder="Enter item name"/><br>
        <input type="number" id="quantity" name="quantity" required placeholder="Enter quantity"/><br>
        <input type="number" id="actual_price" name="actual_price" required placeholder="Enter actual price"/><br>
        <input type="number" id="selling_price" name="selling_price" required placeholder="Enter selling price"/><br>
        <input type="text" id="supplier" name="supplier" required placeholder="Enter supplier name"/><br>
        <input id="s" type="submit" class="btn w-25 btn btn-success" value="Add Item"/>
     </form>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</body>
</html>